= render :partial => 'spree/admin/shared/configuration_menu'
= render :partial => 'spree/admin/shared/product_sub_menu'

- content_for :page_title do
  = t(:new_supplier)

= render :partial => 'spree/shared/error_messages', :locals => { :target => @supplier }

= form_for [:admin, @supplier] do |f|
  %fieldset
    %legend= t(:new_supplier)
    = render :partial => 'form', :locals => { :f => f }
    = render :partial => 'spree/admin/shared/new_resource_links'
